*,:before,:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: inherit
}

a {
	color: inherit;
	text-decoration: inherit
}

b,strong {
	font-weight: bolder
}

code,kbd,samp,pre {
	font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse
}

button,input,optgroup,select,textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0
}

button,select {
	text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none
}

:-moz-focusring {
	outline: auto
}

:-moz-ui-invalid {
	box-shadow: none
}

progress {
	vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
	height: auto
}[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
	margin: 0
}

fieldset {
	margin: 0;
	padding: 0
}

legend {
	padding: 0
}

ol,ul,menu {
	list-style: none;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af
}

input::placeholder,textarea::placeholder {
	opacity: 1;
	color: #9ca3af
}

button,[role=button] {
	cursor: pointer
}

:disabled {
	cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
	display: block;
	vertical-align: middle
}

img,video {
	max-width: 100%;
	height: auto
}[hidden] {
	display: none
}

* {
	scrollbar-color: initial;
	scrollbar-width: initial
}

*,:before,:after {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;--tw-pan-y:;
	--tw-pinch-zoom: ;--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;--tw-gradient-via-position:;
	--tw-gradient-to-position: ;--tw-ordinal:;
	--tw-slashed-zero: ;--tw-numeric-figure:;
	--tw-numeric-spacing: ;--tw-numeric-fraction:;
	--tw-ring-inset: ;--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;--tw-brightness:;
	--tw-contrast: ;--tw-grayscale:;
	--tw-hue-rotate: ;--tw-invert:;
	--tw-saturate: ;--tw-sepia:;
	--tw-drop-shadow: ;--tw-backdrop-blur:;
	--tw-backdrop-brightness: ;--tw-backdrop-contrast:;
	--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate:;
	--tw-backdrop-invert: ;--tw-backdrop-opacity:;
	--tw-backdrop-saturate: ;--tw-backdrop-sepia:
}

::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;--tw-pan-y:;
	--tw-pinch-zoom: ;--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;--tw-gradient-via-position:;
	--tw-gradient-to-position: ;--tw-ordinal:;
	--tw-slashed-zero: ;--tw-numeric-figure:;
	--tw-numeric-spacing: ;--tw-numeric-fraction:;
	--tw-ring-inset: ;--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;--tw-brightness:;
	--tw-contrast: ;--tw-grayscale:;
	--tw-hue-rotate: ;--tw-invert:;
	--tw-saturate: ;--tw-sepia:;
	--tw-drop-shadow: ;--tw-backdrop-blur:;
	--tw-backdrop-brightness: ;--tw-backdrop-contrast:;
	--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate:;
	--tw-backdrop-invert: ;--tw-backdrop-opacity:;
	--tw-backdrop-saturate: ;--tw-backdrop-sepia:
}

.container {
	width: 100%
}

@media (min-width: 640px) {
	.container {
		max-width: 640px
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px
	}
}

.collapse {
	visibility: collapse
}

.fixed {
	position: fixed
}

.absolute {
	position: absolute
}

.relative {
	position: relative
}

.-bottom-28 {
	bottom: -7rem
}

.-bottom-4 {
	bottom: -1rem
}

.-right-2 {
	right: -.5rem
}

.-top-2 {
	top: -.5rem
}

.bottom-0 {
	bottom: 0px
}

.left-0 {
	left: 0px
}

.left-10 {
	left: 2.5rem
}

.left-4 {
	left: 1rem
}

.right-0 {
	right: 0px
}

.right-2 {
	right: .5rem
}

.right-4 {
	right: 1rem
}

.top-0 {
	top: 0px
}

.top-1 {
	top: .25rem
}

.z-0 {
	z-index: 0
}

.z-10 {
	z-index: 10
}

.z-20 {
	z-index: 20
}

.z-30 {
	z-index: 30
}

.z-40 {
	z-index: 40
}

.m-auto {
	margin: auto
}

.mx-auto {
	margin-left: auto;
	margin-right: auto
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto
}

.-ml-px {
	margin-left: -1px
}

.-mt-px {
	margin-top: -1px
}

.mb-0 {
	margin-bottom: 0
}

.mb-2 {
	margin-bottom: .5rem
}

.mb-4 {
	margin-bottom: 1rem
}

.mb-5 {
	margin-bottom: 1.25rem
}

.mb-8 {
	margin-bottom: 2rem
}

.ml-1 {
	margin-left: .25rem
}

.ml-12 {
	margin-left: 3rem
}

.ml-2 {
	margin-left: .5rem
}

.ml-2\.5 {
	margin-left: .625rem
}

.ml-3 {
	margin-left: .75rem
}

.ml-4 {
	margin-left: 1rem
}

.ml-6 {
	margin-left: 1.5rem
}

.ml-auto {
	margin-left: auto
}

.mr-0 {
	margin-right: 0
}

.mr-1 {
	margin-right: .25rem
}

.mr-2 {
	margin-right: .5rem
}

.mt-1 {
	margin-top: .25rem
}

.mt-12 {
	margin-top: 3rem
}

.mt-14 {
	margin-top: 3.5rem
}

.mt-16 {
	margin-top: 4rem
}

.mt-2 {
	margin-top: .5rem
}

.mt-2\.5 {
	margin-top: .625rem
}

.mt-3 {
	margin-top: .75rem
}

.mt-4 {
	margin-top: 1rem
}

.mt-5 {
	margin-top: 1.25rem
}

.mt-6 {
	margin-top: 1.5rem
}

.mt-8 {
	margin-top: 2rem
}

.mt-9 {
	margin-top: 2.25rem
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.flex {
	display: flex
}

.inline-flex {
	display: inline-flex
}

.grid {
	display: grid
}

.hidden {
	display: none
}

.h-1 {
	height: .25rem
}

.h-10 {
	height: 2.5rem
}

.h-11 {
	height: 2.75rem
}

.h-12 {
	height: 3rem
}

.h-14 {
	height: 3.5rem
}

.h-16 {
	height: 4rem
}

.h-2 {
	height: .5rem
}

.h-20 {
	height: 5rem
}

.h-24 {
	height: 6rem
}

.h-28 {
	height: 7rem
}

.h-3 {
	height: .75rem
}

.h-396 {
	height: 396px
}

.h-4 {
	height: 1rem
}

.h-5 {
	height: 1.25rem
}

.h-6 {
	height: 1.5rem
}

.h-7 {
	height: 1.75rem
}

.h-8 {
	height: 2rem
}

.h-9 {
	height: 2.25rem
}

.h-full {
	height: 100%
}

.min-h-full {
	min-height: 100%
}

.min-h-screen {
	min-height: 100vh
}

.w-1\/12 {
	width: 8.333333%
}

.w-10 {
	width: 2.5rem
}

.w-11\/12 {
	width: 91.666667%
}

.w-12 {
	width: 3rem
}

.w-14 {
	width: 3.5rem
}

.w-16 {
	width: 4rem
}

.w-2\/12 {
	width: 16.666667%
}

.w-20 {
	width: 5rem
}

.w-24 {
	width: 6rem
}

.w-28 {
	width: 7rem
}

.w-3\/12 {
	width: 25%
}

.w-44 {
	width: 11rem
}

.w-5 {
	width: 1.25rem
}

.w-5\/12 {
	width: 41.666667%
}

.w-52 {
	width: 13rem
}

.w-6 {
	width: 1.5rem
}

.w-7 {
	width: 1.75rem
}

.w-8 {
	width: 2rem
}

.w-9 {
	width: 2.25rem
}

.w-9\/12 {
	width: 75%
}

.w-auto {
	width: auto
}

.w-fit {
	width: -moz-fit-content;
	width: fit-content
}

.w-full {
	width: 100%
}

.min-w-fit {
	min-width: -moz-fit-content;
	min-width: fit-content
}

.max-w-6xl {
	max-width: 72rem
}

.flex-1 {
	flex: 1 1 0%
}

.flex-auto {
	flex: 1 1 auto
}

.translate-x-0 {
	--tw-translate-x: 0px;
	transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
	--tw-rotate: 90deg;
	transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-default {
	cursor: default
}

.cursor-pointer {
	cursor: pointer
}

.select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.grid-cols-1 {
	grid-template-columns: repeat(1,minmax(0,1fr))
}

.flex-row {
	flex-direction: row
}

.flex-col {
	flex-direction: column
}

.flex-wrap {
	flex-wrap: wrap
}

.items-start {
	align-items: flex-start
}

.items-end {
	align-items: flex-end
}

.items-center {
	align-items: center
}

.items-baseline {
	align-items: baseline
}

.justify-end {
	justify-content: flex-end
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.justify-items-stretch {
	justify-items: stretch
}

.overflow-hidden {
	overflow: hidden
}

.overflow-x-scroll {
	overflow-x: scroll
}

.overflow-y-scroll {
	overflow-y: scroll
}

.rounded-2xl {
	border-radius: 1rem
}

.rounded-3xl {
	border-radius: 1.5rem
}

.rounded-full {
	border-radius: 9999px
}

.rounded-lg {
	border-radius: .5rem
}

.rounded-md {
	border-radius: .375rem
}

.rounded-xl {
	border-radius: .75rem
}

.rounded-l-md {
	border-top-left-radius: .375rem;
	border-bottom-left-radius: .375rem
}

.rounded-r-md {
	border-top-right-radius: .375rem;
	border-bottom-right-radius: .375rem
}

.border {
	border-width: 1px
}

.border-2 {
	border-width: 2px
}

.border-4 {
	border-width: 4px
}

.border-b {
	border-bottom-width: 1px
}

.border-b-2 {
	border-bottom-width: 2px
}

.border-r {
	border-right-width: 1px
}

.border-t {
	border-top-width: 1px
}

.border-t-2 {
	border-top-width: 2px
}

.border-dashed {
	border-style: dashed
}

.border-dotted {
	border-style: dotted
}

.border-blue-100 {
	--tw-border-opacity: 1;
	border-color: rgb(219 234 254 / var(--tw-border-opacity))
}

.border-blue-400 {
	--tw-border-opacity: 1;
	border-color: rgb(96 165 250 / var(--tw-border-opacity))
}

.border-blue-500 {
	--tw-border-opacity: 1;
	border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.border-blue-600 {
	--tw-border-opacity: 1;
	border-color: rgb(37 99 235 / var(--tw-border-opacity))
}

.border-blue-800 {
	--tw-border-opacity: 1;
	border-color: rgb(30 64 175 / var(--tw-border-opacity))
}

.border-blue-900 {
	--tw-border-opacity: 1;
	border-color: rgb(30 58 138 / var(--tw-border-opacity))
}

.border-gray-100 {
	--tw-border-opacity: 1;
	border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-300 {
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-400 {
	--tw-border-opacity: 1;
	border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.border-gray-600 {
	--tw-border-opacity: 1;
	border-color: rgb(75 85 99 / var(--tw-border-opacity))
}

.border-gray-700 {
	--tw-border-opacity: 1;
	border-color: rgb(55 65 81 / var(--tw-border-opacity))
}

.border-green-600 {
	--tw-border-opacity: 1;
	border-color: rgb(22 163 74 / var(--tw-border-opacity))
}

.border-red-600 {
	--tw-border-opacity: 1;
	border-color: rgb(220 38 38 / var(--tw-border-opacity))
}

.border-white {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-blue-500 {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-blue-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.bg-blue-700 {
	--tw-bg-opacity: 1;
	background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.bg-blue-800 {
	--tw-bg-opacity: 1;
	background-color: rgb(30 64 175 / var(--tw-bg-opacity))
}

.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-gray-300 {
	--tw-bg-opacity: 1;
	background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-gray-700 {
	--tw-bg-opacity: 1;
	background-color: rgb(55 65 81 / var(--tw-bg-opacity))
}

.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.bg-green-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(22 163 74 / var(--tw-bg-opacity))
}

.bg-purple-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(243 232 255 / var(--tw-bg-opacity))
}

.bg-red-500 {
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-red-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(220 38 38 / var(--tw-bg-opacity))
}

.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gradient-to-r {
	background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.from-blue-400 {
	--tw-gradient-from: #60a5fa var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(96 165 250 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-btn_from {
	--tw-gradient-from: #0088F6 var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(0 136 246 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-purple-400 {
	--tw-gradient-from: #c084fc var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(192 132 252 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-user_menu_to {
	--tw-gradient-from: #F0EEF9 var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(240 238 249 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.to-blue-600 {
	--tw-gradient-to: #2563eb var(--tw-gradient-to-position)
}

.to-btn_to {
	--tw-gradient-to: #0088F6 var(--tw-gradient-to-position)
}

.to-purple-500 {
	--tw-gradient-to: #a855f7 var(--tw-gradient-to-position)
}

.to-white {
	--tw-gradient-to: #fff var(--tw-gradient-to-position)
}

.bg-cover {
	background-size: cover
}

.bg-fixed {
	background-attachment: fixed
}

.p-0 {
	padding: 0
}

.p-1 {
	padding: .25rem
}

.p-10 {
	padding: 2.5rem
}

.p-2 {
	padding: .5rem
}

.p-2\.5 {
	padding: .625rem
}

.p-3 {
	padding: .75rem
}

.p-4 {
	padding: 1rem
}

.p-5 {
	padding: 1.25rem
}

.p-6 {
	padding: 1.5rem
}

.px-0 {
	padding-left: 0;
	padding-right: 0
}

.px-1 {
	padding-left: .25rem;
	padding-right: .25rem
}

.px-2 {
	padding-left: .5rem;
	padding-right: .5rem
}

.px-3 {
	padding-left: .75rem;
	padding-right: .75rem
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem
}

.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem
}

.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

.px-8 {
	padding-left: 2rem;
	padding-right: 2rem
}

.py-1 {
	padding-top: .25rem;
	padding-bottom: .25rem
}

.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem
}

.py-14 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem
}

.py-3 {
	padding-top: .75rem;
	padding-bottom: .75rem
}

.py-3\.5 {
	padding-top: .875rem;
	padding-bottom: .875rem
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem
}

.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem
}

.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem
}

.pb-0 {
	padding-bottom: 0
}

.pb-2 {
	padding-bottom: .5rem
}

.pb-20 {
	padding-bottom: 5rem
}

.pb-3 {
	padding-bottom: .75rem
}

.pb-4 {
	padding-bottom: 1rem
}

.pb-5 {
	padding-bottom: 1.25rem
}

.pb-8 {
	padding-bottom: 2rem
}

.pl-1 {
	padding-left: .25rem
}

.pl-12 {
	padding-left: 3rem
}

.pl-2 {
	padding-left: .5rem
}

.pl-3 {
	padding-left: .75rem
}

.pl-4 {
	padding-left: 1rem
}

.pl-5 {
	padding-left: 1.25rem
}

.pl-7 {
	padding-left: 1.75rem
}

.pr-1 {
	padding-right: .25rem
}

.pr-2 {
	padding-right: .5rem
}

.pr-20 {
	padding-right: 5rem
}

.pr-24 {
	padding-right: 6rem
}

.pr-3 {
	padding-right: .75rem
}

.pr-4 {
	padding-right: 1rem
}

.pr-5 {
	padding-right: 1.25rem
}

.pr-6 {
	padding-right: 1.5rem
}

.pt-1 {
	padding-top: .25rem
}

.pt-1\.5 {
	padding-top: .375rem
}

.pt-12 {
	padding-top: 3rem
}

.pt-2 {
	padding-top: .5rem
}

.pt-20 {
	padding-top: 5rem
}

.pt-3 {
	padding-top: .75rem
}

.pt-4 {
	padding-top: 1rem
}

.pt-5 {
	padding-top: 1.25rem
}

.pt-6 {
	padding-top: 1.5rem
}

.pt-7 {
	padding-top: 1.75rem
}

.pt-8 {
	padding-top: 2rem
}

.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

.align-top {
	vertical-align: top
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem
}

.text-5xl {
	font-size: 3rem;
	line-height: 1
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem
}

.text-sm {
	font-size: .875rem;
	line-height: 1.25rem
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem
}

.text-xs {
	font-size: .75rem;
	line-height: 1rem
}

.font-bold {
	font-weight: 700
}

.font-medium {
	font-weight: 500
}

.font-semibold {
	font-weight: 600
}

.leading-4 {
	line-height: 1rem
}

.leading-5 {
	line-height: 1.25rem
}

.leading-7 {
	line-height: 1.75rem
}

.text-black {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-blue-500 {
	--tw-text-opacity: 1;
	color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-blue-600 {
	--tw-text-opacity: 1;
	color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-blue-700 {
	--tw-text-opacity: 1;
	color: rgb(29 78 216 / var(--tw-text-opacity))
}

.text-blue-800 {
	--tw-text-opacity: 1;
	color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-blue-900 {
	--tw-text-opacity: 1;
	color: rgb(30 58 138 / var(--tw-text-opacity))
}

.text-gray-100 {
	--tw-text-opacity: 1;
	color: rgb(243 244 246 / var(--tw-text-opacity))
}

.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgb(229 231 235 / var(--tw-text-opacity))
}

.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgb(209 213 219 / var(--tw-text-opacity))
}

.text-gray-400 {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-500 {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-600 {
	--tw-text-opacity: 1;
	color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-700 {
	--tw-text-opacity: 1;
	color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-gray-800 {
	--tw-text-opacity: 1;
	color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-gray-900 {
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-green-600 {
	--tw-text-opacity: 1;
	color: rgb(22 163 74 / var(--tw-text-opacity))
}

.text-indigo-300 {
	--tw-text-opacity: 1;
	color: rgb(165 180 252 / var(--tw-text-opacity))
}

.text-red-600 {
	--tw-text-opacity: 1;
	color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-yellow-600 {
	--tw-text-opacity: 1;
	color: rgb(202 138 4 / var(--tw-text-opacity))
}

.underline {
	text-decoration-line: underline
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.opacity-40 {
	opacity: .4
}

.opacity-60 {
	opacity: .6
}

.opacity-80 {
	opacity: .8
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
	--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-purple-100 {
	--tw-shadow-color: #f3e8ff;
	--tw-shadow: var(--tw-shadow-colored)
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.outline-0 {
	outline-width: 0px
}

.transition {
	transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
	transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
	transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-duration: .15s
}

.duration-150 {
	transition-duration: .15s
}

.duration-300 {
	transition-duration: .3s
}

.ease-in-out {
	transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.scrollbar-thin {
	scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial)
}

.scrollbar-thin::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
	border-radius: var(--scrollbar-track-radius)
}

.scrollbar-thin::-webkit-scrollbar-track:hover {
	background-color: var(--scrollbar-track-hover, var(--scrollbar-track))
}

.scrollbar-thin::-webkit-scrollbar-track:active {
	background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)))
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: var(--scrollbar-thumb-radius)
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb))
}

.scrollbar-thin::-webkit-scrollbar-thumb:active {
	background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)))
}

.scrollbar-thin::-webkit-scrollbar-corner {
	background-color: var(--scrollbar-corner);
	border-radius: var(--scrollbar-corner-radius)
}

.scrollbar-thin::-webkit-scrollbar-corner:hover {
	background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner))
}

.scrollbar-thin::-webkit-scrollbar-corner:active {
	background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)))
}

.scrollbar-thin {
	scrollbar-width: thin
}

.scrollbar-thin::-webkit-scrollbar {
	display: block;
	width: 8px;
	height: 8px
}

.scrollbar-track-white {
	--scrollbar-track: #fff !important
}

.scrollbar-thumb-blue-500 {
	--scrollbar-thumb: #3b82f6 !important
}

.scrollbar-thumb-blue-600 {
	--scrollbar-thumb: #2563eb !important
}

.hover\:scale-105:hover {
	--tw-scale-x: 1.05;
	--tw-scale-y: 1.05;
	transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:scale-110:hover {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:bg-white:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:text-gray-400:hover {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity))
}

.hover\:text-gray-500:hover {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity))
}

.hover\:text-gray-800:hover {
	--tw-text-opacity: 1;
	color: rgb(31 41 55 / var(--tw-text-opacity))
}

.hover\:opacity-80:hover {
	opacity: .8
}

.hover\:opacity-90:hover {
	opacity: .9
}

.hover\:opacity-95:hover {
	opacity: .95
}

.focus\:z-10:focus {
	z-index: 10
}

.focus\:border-blue-300:focus {
	--tw-border-opacity: 1;
	border-color: rgb(147 197 253 / var(--tw-border-opacity))
}

.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.active\:bg-gray-100:active {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.active\:text-gray-500:active {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity))
}

.active\:text-gray-700:active {
	--tw-text-opacity: 1;
	color: rgb(55 65 81 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
	.dark\:border-gray-700 {
		--tw-border-opacity: 1;
		border-color: rgb(55 65 81 / var(--tw-border-opacity))
	}

	.dark\:bg-gray-800 {
		--tw-bg-opacity: 1;
		background-color: rgb(31 41 55 / var(--tw-bg-opacity))
	}

	.dark\:bg-gray-900 {
		--tw-bg-opacity: 1;
		background-color: rgb(17 24 39 / var(--tw-bg-opacity))
	}

	.dark\:text-gray-400 {
		--tw-text-opacity: 1;
		color: rgb(156 163 175 / var(--tw-text-opacity))
	}

	.dark\:text-gray-500 {
		--tw-text-opacity: 1;
		color: rgb(107 114 128 / var(--tw-text-opacity))
	}

	.dark\:text-white {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity))
	}
}

@media not all and (min-width: 1024px) {
	.max-lg\:fixed {
		position: fixed
	}

	.max-lg\:left-0 {
		left: 0px
	}

	.max-lg\:top-0 {
		top: 0px
	}

	.max-lg\:z-20 {
		z-index: 20
	}

	.max-lg\:m-1 {
		margin: .25rem
	}

	.max-lg\:mx-2 {
		margin-left: .5rem;
		margin-right: .5rem
	}

	.max-lg\:my-4 {
		margin-top: 1rem;
		margin-bottom: 1rem
	}

	.max-lg\:mt-2 {
		margin-top: .5rem
	}

	.max-lg\:mt-4 {
		margin-top: 1rem
	}

	.max-lg\:mt-6 {
		margin-top: 1.5rem
	}

	.max-lg\:mt-8 {
		margin-top: 2rem
	}

	.max-lg\:hidden {
		display: none
	}

	.max-lg\:h-10 {
		height: 2.5rem
	}

	.max-lg\:h-14 {
		height: 3.5rem
	}

	.max-lg\:h-48 {
		height: 12rem
	}

	.max-lg\:h-5 {
		height: 1.25rem
	}

	.max-lg\:h-52 {
		height: 13rem
	}

	.max-lg\:h-6 {
		height: 1.5rem
	}

	.max-lg\:h-96 {
		height: 24rem
	}

	.max-lg\:h-full {
		height: 100%
	}

	.max-lg\:w-1\/2 {
		width: 50%
	}

	.max-lg\:w-10\/12 {
		width: 83.333333%
	}

	.max-lg\:w-2\/3 {
		width: 66.666667%
	}

	.max-lg\:w-4\/12 {
		width: 33.333333%
	}

	.max-lg\:w-6\/12 {
		width: 50%
	}

	.max-lg\:w-full {
		width: 100%
	}

	.max-lg\:-translate-x-full {
		--tw-translate-x: -100%;
		transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
	}

	.max-lg\:flex-row-reverse {
		flex-direction: row-reverse
	}

	.max-lg\:flex-col {
		flex-direction: column
	}

	.max-lg\:flex-col-reverse {
		flex-direction: column-reverse
	}

	.max-lg\:items-center {
		align-items: center
	}

	.max-lg\:justify-start {
		justify-content: flex-start
	}

	.max-lg\:justify-end {
		justify-content: flex-end
	}

	.max-lg\:justify-center {
		justify-content: center
	}

	.max-lg\:justify-between {
		justify-content: space-between
	}

	.max-lg\:overflow-y-scroll {
		overflow-y: scroll
	}

	.max-lg\:rounded-3xl {
		border-radius: 1.5rem
	}

	.max-lg\:rounded-r-2xl {
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem
	}

	.max-lg\:border {
		border-width: 1px
	}

	.max-lg\:border-gray-100 {
		--tw-border-opacity: 1;
		border-color: rgb(243 244 246 / var(--tw-border-opacity))
	}

	.max-lg\:p-1 {
		padding: .25rem
	}

	.max-lg\:p-2 {
		padding: .5rem
	}

	.max-lg\:p-3 {
		padding: .75rem
	}

	.max-lg\:px-1 {
		padding-left: .25rem;
		padding-right: .25rem
	}

	.max-lg\:px-2 {
		padding-left: .5rem;
		padding-right: .5rem
	}

	.max-lg\:px-3 {
		padding-left: .75rem;
		padding-right: .75rem
	}

	.max-lg\:px-4 {
		padding-left: 1rem;
		padding-right: 1rem
	}

	.max-lg\:py-1 {
		padding-top: .25rem;
		padding-bottom: .25rem
	}

	.max-lg\:py-10 {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem
	}

	.max-lg\:py-2 {
		padding-top: .5rem;
		padding-bottom: .5rem
	}

	.max-lg\:py-4 {
		padding-top: 1rem;
		padding-bottom: 1rem
	}

	.max-lg\:py-5 {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem
	}

	.max-lg\:pb-0 {
		padding-bottom: 0
	}

	.max-lg\:pb-4 {
		padding-bottom: 1rem
	}

	.max-lg\:pl-1 {
		padding-left: .25rem
	}

	.max-lg\:pl-2 {
		padding-left: .5rem
	}

	.max-lg\:pr-2 {
		padding-right: .5rem
	}

	.max-lg\:pt-10 {
		padding-top: 2.5rem
	}

	.max-lg\:pt-2 {
		padding-top: .5rem
	}

	.max-lg\:pt-4 {
		padding-top: 1rem
	}

	.max-lg\:pt-5 {
		padding-top: 1.25rem
	}

	.max-lg\:pt-6 {
		padding-top: 1.5rem
	}

	.max-lg\:pt-8 {
		padding-top: 2rem
	}

	.max-lg\:text-left {
		text-align: left
	}

	.max-lg\:text-center {
		text-align: center
	}

	.max-lg\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem
	}

	.max-lg\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem
	}

	.max-lg\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem
	}

	.max-lg\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem
	}

	.max-lg\:text-sm {
		font-size: .875rem;
		line-height: 1.25rem
	}

	.max-lg\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem
	}

	.max-lg\:shadow-lg {
		--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
		--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
	}
}

@media (min-width: 640px) {
	.sm\:ml-0 {
		margin-left: 0
	}

	.sm\:block {
		display: block
	}

	.sm\:flex {
		display: flex
	}

	.sm\:hidden {
		display: none
	}

	.sm\:h-20 {
		height: 5rem
	}

	.sm\:flex-1 {
		flex: 1 1 0%
	}

	.sm\:items-center {
		align-items: center
	}

	.sm\:justify-start {
		justify-content: flex-start
	}

	.sm\:justify-between {
		justify-content: space-between
	}

	.sm\:rounded-lg {
		border-radius: .5rem
	}

	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}

	.sm\:pt-0 {
		padding-top: 0
	}

	.sm\:text-left {
		text-align: left
	}

	.sm\:text-right {
		text-align: right
	}
}

@media (min-width: 768px) {
	.md\:grid-cols-2 {
		grid-template-columns: repeat(2,minmax(0,1fr))
	}

	.md\:border-l {
		border-left-width: 1px
	}

	.md\:border-t-0 {
		border-top-width: 0px
	}
}

@media (min-width: 1024px) {
	.lg\:ml-2 {
		margin-left: .5rem
	}

	.lg\:ml-7 {
		margin-left: 1.75rem
	}

	.lg\:mr-2 {
		margin-right: .5rem
	}

	.lg\:mt-6 {
		margin-top: 1.5rem
	}

	.lg\:mt-8 {
		margin-top: 2rem
	}

	.lg\:hidden {
		display: none
	}

	.lg\:h-12 {
		height: 3rem
	}

	.lg\:h-14 {
		height: 3.5rem
	}

	.lg\:h-440 {
		height: 440px
	}

	.lg\:h-650 {
		height: 650px
	}

	.lg\:h-660 {
		height: 660px
	}

	.lg\:h-790 {
		height: 790px
	}

	.lg\:h-8 {
		height: 2rem
	}

	.lg\:w-10\/12 {
		width: 83.333333%
	}

	.lg\:w-11\/12 {
		width: 91.666667%
	}

	.lg\:w-12 {
		width: 3rem
	}

	.lg\:w-2\/12 {
		width: 16.666667%
	}

	.lg\:w-3\/12 {
		width: 25%
	}

	.lg\:w-4\/12 {
		width: 33.333333%
	}

	.lg\:w-422 {
		width: 422px
	}

	.lg\:w-462 {
		width: 462px
	}

	.lg\:w-5\/12 {
		width: 41.666667%
	}

	.lg\:w-6\/12 {
		width: 50%
	}

	.lg\:w-7\/12 {
		width: 58.333333%
	}

	.lg\:w-782 {
		width: 782px
	}

	.lg\:w-9\/12 {
		width: 75%
	}

	.lg\:w-full {
		width: 100%
	}

	.lg\:flex-row {
		flex-direction: row
	}

	.lg\:items-end {
		align-items: flex-end
	}

	.lg\:items-center {
		align-items: center
	}

	.lg\:justify-end {
		justify-content: flex-end
	}

	.lg\:justify-center {
		justify-content: center
	}

	.lg\:justify-between {
		justify-content: space-between
	}

	.lg\:rounded-2xl {
		border-radius: 1rem
	}

	.lg\:rounded-r-3xl {
		border-top-right-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem
	}

	.lg\:border-b {
		border-bottom-width: 1px
	}

	.lg\:border-r {
		border-right-width: 1px
	}

	.lg\:border-gray-300 {
		--tw-border-opacity: 1;
		border-color: rgb(209 213 219 / var(--tw-border-opacity))
	}

	.lg\:border-gray-400 {
		--tw-border-opacity: 1;
		border-color: rgb(156 163 175 / var(--tw-border-opacity))
	}

	.lg\:p-2 {
		padding: .5rem
	}

	.lg\:p-2\.5 {
		padding: .625rem
	}

	.lg\:p-3 {
		padding: .75rem
	}

	.lg\:p-5 {
		padding: 1.25rem
	}

	.lg\:px-2 {
		padding-left: .5rem;
		padding-right: .5rem
	}

	.lg\:px-3 {
		padding-left: .75rem;
		padding-right: .75rem
	}

	.lg\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}

	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem
	}

	.lg\:py-14 {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem
	}

	.lg\:py-16 {
		padding-top: 4rem;
		padding-bottom: 4rem
	}

	.lg\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem
	}

	.lg\:py-4 {
		padding-top: 1rem;
		padding-bottom: 1rem
	}

	.lg\:pb-10 {
		padding-bottom: 2.5rem
	}

	.lg\:pl-10 {
		padding-left: 2.5rem
	}

	.lg\:pl-2 {
		padding-left: .5rem
	}

	.lg\:pl-20 {
		padding-left: 5rem
	}

	.lg\:pl-3 {
		padding-left: .75rem
	}

	.lg\:pl-4 {
		padding-left: 1rem
	}

	.lg\:pl-5 {
		padding-left: 1.25rem
	}

	.lg\:pl-6 {
		padding-left: 1.5rem
	}

	.lg\:pl-8 {
		padding-left: 2rem
	}

	.lg\:pr-10 {
		padding-right: 2.5rem
	}

	.lg\:pr-2 {
		padding-right: .5rem
	}

	.lg\:pr-3 {
		padding-right: .75rem
	}

	.lg\:pr-4 {
		padding-right: 1rem
	}

	.lg\:pt-10 {
		padding-top: 2.5rem
	}

	.lg\:pt-12 {
		padding-top: 3rem
	}

	.lg\:pt-14 {
		padding-top: 3.5rem
	}

	.lg\:pt-3 {
		padding-top: .75rem
	}

	.lg\:pt-3\.5 {
		padding-top: .875rem
	}

	.lg\:pt-7 {
		padding-top: 1.75rem
	}

	.lg\:pt-9 {
		padding-top: 2.25rem
	}

	.lg\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem
	}

	.lg\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem
	}

	.lg\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem
	}

	.lg\:text-base {
		font-size: 1rem;
		line-height: 1.5rem
	}

	.lg\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem
	}

	.lg\:shadow-2xl {
		--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
		--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
	}

	.lg\:scrollbar-thin {
		scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial)
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track);
		border-radius: var(--scrollbar-track-radius)
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-track:hover {
		background-color: var(--scrollbar-track-hover, var(--scrollbar-track))
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-track:active {
		background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)))
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
		border-radius: var(--scrollbar-thumb-radius)
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-thumb:hover {
		background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb))
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-thumb:active {
		background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)))
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-corner {
		background-color: var(--scrollbar-corner);
		border-radius: var(--scrollbar-corner-radius)
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-corner:hover {
		background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner))
	}

	.lg\:scrollbar-thin::-webkit-scrollbar-corner:active {
		background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)))
	}

	.lg\:scrollbar-thin {
		scrollbar-width: thin
	}

	.lg\:scrollbar-thin::-webkit-scrollbar {
		display: block;
		width: 8px;
		height: 8px
	}

	.lg\:scrollbar-track-white {
		--scrollbar-track: #fff !important
	}

	.lg\:scrollbar-thumb-blue-500 {
		--scrollbar-thumb: #3b82f6 !important
	}
}
